body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/rana-sawalha-364253-unsplash.png");
    text-decoration: none;
    font-family: sans-serif;
}

.clearfix {
    display: block;
    height: 0;
    clear: both;
}

.open, .closed, .leaf {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0 28px 0 0px;
    background-repeat: no-repeat;

}

.open {
    cursor: pointer;
    background-image: url("../img/ic_caledar.png");
}

.closed {
    cursor: pointer;
    background-image: url("../img/ic_forum.png");
}

.leaf {
    cursor: pointer;
    background-image: url("../img/ic_journey.png");
    padding: 0;
}

.sprites {
    position: absolute;
    right: 328px;
    height: 20px;

}

.container-header {
    height: 54px;
    background: rgba(0, 0, 0, 0.41);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: 1366px;

}

.Journey {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 17px 0 17px 81px;

}

.header-text {
    position: absolute;
    right: 81px;
}

.header-text::after {
    content: ' ';
    position: absolute;
    right: 210px;
    top: -2px;
    width: 1px;
    height: 19px;
    background-color: #30302e;
}

.header-text-p {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.header-text-p a {
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;

}


main {
    position: relative;
}

.modal {
    transition: 500ms;
    width: 444px;
    position: absolute;
    height: 584px;
    top: 358px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    background: #fff;
    border-radius: 10px;
    min-width: 444px;
    margin-bottom: 66px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}

.modal-container {
    width: 326px;
    margin: 29px auto;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.modal-header p {
    font-size: 20px;
    color: rgb(67, 67, 67);
}

.modal-header a {
    font-size: 14px;
    color: rgb(60, 184, 120);
    padding-top: 4px;
    text-decoration: none;
    transition: 500ms;
}

.modal-header a::after {
    content: ' ';
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
    top: 30px;
}

.modal-header-sprite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.button_fb {
    background-color: rgb(48, 93, 184);
}

.button_gg {
    background-color: #df4a32;
}

.button_fb, .button_gg {
    border-radius: 3px;

    width: 157px;
    height: 46px;
    text-decoration: none;
    color: white;
    font-family: Verdana, sans-serif;
    display: inline-block;
    position: relative;
}

.button_fb img {
    margin: 13px 1px 14px 13px;
}

.button_fb p::after {
    content: ' ';
    position: absolute;
    background: #2b54a5;
    height: 28px;
    width: 1px;
    top: -5px;
    left: -10px;
}


.button_fb p {
    position: absolute;
    bottom: 36%;
    left: 29%;
}

.button_gg img {
    margin: 15px 1px 15px 13px;
}

.button_gg p::after {
    content: ' ';
    position: absolute;
    height: 28px;
    width: 1px;
    top: -5px;
    left: -9px;
    background: #c8422d;
}


.button_gg p {
    position: absolute;
    bottom: 36%;
    left: 36%;
}

.modal-input input:nth-child(1) {
    margin-top: 10px;
}

.modal-input input {
    height: 46px;
    width: 305px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    margin-bottom: 9px;
    color: #bebebe;
    padding-left: 18px;
    transition: 500ms;

}

.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.modal-footer a {
    font-size: 14px;
    color: rgb(67, 67, 67);
    text-decoration: none;
}

.modal-footer a > span {
    color: #3cb878;
    text-decoration: none;
    font-size: 14px;
}

.modal-footer-button a {
    padding: 14px 108px;
    background-color: #3cb878;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    bottom: 32px;
}

.line-or {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    line-height: 0.1em;
    margin: 25px 0 20px;
}

.line-or span {
    background: #fff;
    padding: 0 10px;
    color: #848484;
    transition: 500ms;

}


.header-journey:hover {
    color: #3cb878;
    transition-duration: 1s;

}

.open:hover {
    cursor: pointer;
    background-image: url("../img/hover/ic_caledar.png");
    transition-duration: 1s;

}

.closed:hover {
    cursor: pointer;
    background-image: url("../img/hover/ic_forum.png");
    transition-duration: 1s;

}

.leaf:hover {
    cursor: pointer;
    background-image: url("../img/hover/ic_journey.png");
    padding: 0;
    transition-duration: 1s;

}

.header-text-p a:hover {
    border-bottom: 1px solid #3cb878;
    transition-duration: 1s;
}

.modal-input input:focus {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    outline: none;
    border: none;
}

.modal-input input:hover {
    cursor: pointer;

}

.modal-header a:hover {
    border-bottom: 1px solid #3cb878;
    transition-duration: 2ms;

}


.button-theme {
    padding: 10px 20px;
    outline: none;
    background-color:  rgba(0, 0, 0, 0.41);
    border: 1px solid rgba(0, 0, 0, 0.4);;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}